.card-header{
    font-size: 2rem;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.card-button{
    position: relative;
    left: 90px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: rgb(12, 236, 236);
    padding:6px;
    border: none;
    cursor:pointer;
    font-size: 15px;
    border-radius: 10px;
}
.card-button:hover{
    color:rgb(255, 253, 253);
    background-color:rgb(10, 115, 191);
    /* border: 1px solid black; */
}
#abc{
    font-size: 20px;
    color: black;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.xyz{
     margin-left: 38%;
     margin-top: 1%; 
     font-size: 60px; 
     text-shadow: 5px 2px aqua;
}